.header {
    background: linear-gradient(141deg, #13669e 0%, #4d6ca5 51%, #1290ce 75%);
    background-color: #13669e;
}

.header .logo {
    max-width: 100px;
    padding: 25px;
}

.header a,
.header a:active {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
}

.header nav {
    float: right;
    padding: 50px 25px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header ul li {
    float: left;
    padding-left: 10px;
}

.header .clear {
    content: "";
    clear: both;
    display: table;
}