.getstarted {
    margin: 50px 0;
}

.getstarted button {
    display: block;
    margin: auto;
    background-color: #30A1F3;
    border: none;
    padding: 25px 50px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 36px;
}

.getstarted a {
    color: white;
    text-decoration: none;
}